/* override shitty bootstrap: I'm not writing a new generator */

body{
  padding: 0px !important;
  margin: 0px !important;
}

.main-container{
  margin: 0px !important;
  max-width: none !important;
}

.container-fluid{
  padding: 0px !important;
}

#header{
  visibility: hidden;
  height: 0px;
}

/* style */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&display=swap');

body{
  font-family: 'Raleway', sans-serif;
}